@import "../abstracts/variables";
@import "../abstracts/mixins";

.button {
  @include button-base;
  &--large {
    padding: $button-padding-large;
    font-size: $font-size-large;
  }

  &--medium {
    padding: $button-padding-medium;
    font-size: $font-size-medium;
  }

  &--small {
    padding: $button-padding-small;
    font-size: $font-size-small;
  }
}
