@import "../abstracts/variables";
@import "../abstracts/mixins";

.container {
  @include flex(column);
}
.label {
  color: $gray-90;
  font-size: $font-size-small;
  margin-bottom: 12px;
  float: left;
}
.message {
  color: $gray-70;
  font-size: $font-size-small;
  margin-top: 12px;

  &--error {
    @extend .message;
    color: $danger-50;
  }
}
.input {
  @include input-base;
  &--large {
    padding: $input-padding-large;
    font-size: $font-size-large;
  }

  &--medium {
    padding: $input-padding-medium;
    font-size: $font-size-medium;
  }

  &--small {
    padding: $input-padding-small;
    font-size: $font-size-small;
  }
  &--error {
    box-shadow: 0 0 0 2px $danger-50;
  }
}
