@import "../abstracts/variables";
@import "../abstracts/mixins";

.modal-container {
  @include flex(column);
  height: 100%;
}

.modal-backdrop {
  display: flex;
  align-items: center;
  background-color: $modal-backdrop-color;
  z-index: 1; //위치지정 요소
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-view {
  display: flex;
  align-items: start;
  background-color: $gray-0;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid $gray-40;
  width: 560px;
  padding: 40px;
}

.modal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 32px;

  span {
    font-size: $font-size-medium;
    font-weight: bold;
  }

  button {
    padding: 0;
  }
}

.content-title {
  font-size: $font-size-large;
  font-weight: bold;
  margin-bottom: 24px;
}

.content {
  font-size: $font-size-medium;
  margin-bottom: 32px;
}

.modal-footer {
  display: flex;
  width: 100%;
  justify-content: end;
  button {
    margin-left: 8px;
    border: 1px solid $gray-90;
    height: 48px;
    &:nth-child(2) {
      border: none;
      background-color: $primary-50;
      color: $gray-0;
    }
  }
}
