@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../components/input.module.scss";

// .container {
//   @include flex(column);
// }
// .label {
//   color: $gray-90;
//   font-size: $font-size-small;
//   margin-bottom: 12px;
// }
// .message {
//   color: $gray-70;
//   font-size: $font-size-small;
//   margin-top: 12px;

//   &--error {
//     @extend .message;
//     color: $danger-50;
//   }
// }
.textarea {
  @include textarea-base;

  &--error {
    box-shadow: 0 0 0 2px $danger-50;
  }
}

.message-container {
  margin-top: 12px;
}

.char-count {
  color: $gray-70;
  font-size: $font-size-small;
  float: right;
  em {
    color: $primary-50;
  }
}
