/* Colors */
$gray-0: #ffffff;
$gray-30: #d8d8d8;
$gray-40: #c6c6c6;
$gray-50: #8e8e8e;
$gray-60: #717171;
$gray-70: #555555;
$gray-90: #1d1d1d;

$primary-50: #246beb;

$danger-50: #eb003b;

$modal-backdrop-color: #00000080;

/* Font Sizes */
$font-size-small: 15px;
$font-size-medium: 17px;
$font-size-large: 19px;

$border-radius-base: 8px;
/* Button Paddings */
$button-padding-small: 4px 8px;
$button-padding-medium: 8px 16px;
$button-padding-large: 12px 24px;

/* Input Paddings */
$input-padding-small: 14.5px 16px;
$input-padding-medium: 18px 16px;
$input-padding-large: 21.5px 16px;

/* Textarea Paddings */
$textarea-padding: 16px;
